openapi: 3.0.1
info:
  title: Zoho Desk Plugin
  description: Interact with Zoho Desk API to search tickets.
  version: "1.0"
servers:
  - url: https://desk.zoho.eu/api/v1
paths:
  /tickets/search:
    get:
      operationId: searchTickets
      summary: Search tickets in Zoho Desk
      parameters:
        - name: _all
          in: query
          description: Search for any text throughout the entire ticket
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of tickets to retrieve with a default of 10
          schema:
            type: integer
            default: 10
        - name: createdTimeRange
          in: query
          description: Time range for ticket creation (optional)
          schema:
            type: timestamp
        - name: accountName
          in: query
          description: Filter tickets by account name (optional)
          schema:
            type: string
        - name: accountId
          in: query
          description: Filter tickets by account ID (optional)
          schema:
            type: string
        - name: contactName
          in: query
          description: Filter tickets by contact name (optional)
          schema:
            type: string
        - name: category
          in: query
          description: Category in the ticket (optional)
          schema:
            type: string
        - name: channel
          in: query
          description: Channel through which the ticket was received (optional)
          schema:
            type: string
        - name: priority
          in: query
          description: Priority of the ticket (optional)
          schema:
            type: string
        - name: status
          in: query
          description: Status of the ticket (optional)
          schema:
            type: string
        - name: subject
          in: query
          description: subject of the ticket in the help desk (optional)
          schema:
            type: string
        - name: description
          in: query
          description: description of the ticket in the help desk (optional)
          schema:
            type: string
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTicketsResponse'
components:
  schemas:
    SearchTicketsResponse:
      type: object
      properties:
        tickets:
          type: array
          items:
            type: object
            properties:
              ticket_id:
                type: string
              subject:
                type: string
              description:
                type: string
              created_time:
                type: string
      description: List of tickets